# Load the dataframe using the TaxiData class that previous developer created

In [2]:
from taxipred.backend.data_processing import TaxiData

taxidata = TaxiData()

## basic eda of the data using pandas exploratory methods

In [ ]:
# use info to see the column names aswell as number of nullvalues aswell as typing
taxidata.df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       950 non-null    float64
 1   Time_of_Day            950 non-null    object
 2   Day_of_Week            950 non-null    object
 3   Passenger_Count        950 non-null    float64
 4   Traffic_Conditions     950 non-null    object
 5   Weather                950 non-null    object
 6   Base_Fare              950 non-null    float64
 7   Per_Km_Rate            950 non-null    float64
 8   Per_Minute_Rate        950 non-null    float64
 9   Trip_Duration_Minutes  950 non-null    float64
 10  Trip_Price             951 non-null    float64
dtypes: float64(7), object(4)
memory usage: 86.1+ KB

In [ ]:
# checking the actual look of the dataset. to better understand the columns
taxidata.df.head(10)

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180
5,8.64,Afternoon,Weekend,2.0,Medium,Clear,2.55,1.71,0.48,89.33,60.2028
6,3.85,Afternoon,Weekday,4.0,High,Rain,3.51,1.66,NaN,5.05,11.2645
7,43.44,Evening,Weekend,3.0,NaN,Clear,2.97,1.87,0.23,NaN,101.1216
8,30.45,Morning,Weekday,3.0,High,Clear,2.77,1.78,0.34,110.33,NaN
9,35.70,Afternoon,Weekday,2.0,Low,Rain,3.39,1.52,0.47,NaN,75.5657

### identifying makeup of nulls 
ive concluded that there is a fair bit of null values in the dataset.
i wanna identify how spread out it is. to see if any rows have an overwhelming number of null values or if its limited to 1 column

In [15]:
df_with_max_1_null = taxidata.df[taxidata.df.isnull().sum(axis=1) <2]
df_with_max_1_null.info()

<class 'pandas.core.frame.DataFrame'>
Index: 903 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       870 non-null    float64
 1   Time_of_Day            864 non-null    object
 2   Day_of_Week            877 non-null    object
 3   Passenger_Count        875 non-null    float64
 4   Traffic_Conditions     868 non-null    object
 5   Weather                873 non-null    object
 6   Base_Fare              872 non-null    float64
 7   Per_Km_Rate            873 non-null    float64
 8   Per_Minute_Rate        869 non-null    float64
 9   Trip_Duration_Minutes  874 non-null    float64
 10  Trip_Price             877 non-null    float64
dtypes: float64(7), object(4)
memory usage: 84.7+ KB